:root {
  --cell-color: #ffdb4d;
  --cell-color-hover: #e0b85b;
  --cell-color-active: #e29b06;
  --cell-color-blocked: #aba6a5;
  --cell-color-blocked-hover: #bcb7b6;
  --cell-color-blocked-active: #cfcac9;

  --cell-size: 30px;
}
