:root {
  --cell-color: #ffdb4d;
  --cell-color-hover: #e0b85b;
  --cell-color-active: #e29b06;

  --cell-color-blocked: #aba6a5;
  --cell-color-blocked-hover: #bcb7b6;
  --cell-color-blocked-active: #cfcac9;

  --cell-color-start: #53b358;
  --cell-color-start-hover: #4d994d;
  --cell-color-start-active: #428442;

  --cell-color-end: #ec8f6f;
  --cell-color-end-hover: #e1886b;
  --cell-color-end-active: #cf7568;

  --cell-size: 30px;
}
